{{ form_start(form) }}
<fieldset>
<legend>Renseignements Fournisseur :</legend>
    <div class="form-group row">


        <div class="col-sm-3 col-form-label">
            {{ form_label(form.fournisseur.TelephoneFournisseur) }}
        </div>

        <div class="col-sm-6">
            {{ form_widget(form.fournisseur.TelephoneFournisseur,{'attr':{'class':'form-control' }}) }}

        </div>
    </div>
<div class="form-group row">


    <div class="col-sm-3 col-form-label">
        {{ form_label(form.fournisseur.NomFournisseur) }}
    </div>

    <div class="col-sm-6">
        {{ form_widget(form.fournisseur.NomFournisseur) }}

    </div>
</div>
<div class="form-group row">


    <div class="col-sm-3 col-form-label">
        {{ form_label(form.fournisseur.PrenomFournisseur) }}
    </div>

    <div class="col-sm-6">
        {{ form_widget(form.fournisseur.PrenomFournisseur) }}

    </div>
</div>
<div class="form-group row">


    <div class="col-sm-3 col-form-label">
        {{ form_label(form.fournisseur.SituationGeographique) }}
    </div>

    <div class="col-sm-6">
        {{ form_widget(form.fournisseur.SituationGeographique) }}

    </div>
</div>

</fieldset>
<hr>
<fieldset>
<legend>Details de l'approvisionnement :</legend>
    {% form_theme form  'form_theme/table_layout_appro.html.twig' %}

                                    {{ form_widget(form ) }}
</fieldset>
{#<div class="form-group row">#}
    {#<label for="example-text-input" class="col-sm-4 col-form-label"></label>#}
    {#<div class="col-sm-6">#}
        {#<input type="submit" id="add-customer" class="btn btn-primary btn-large" name="add-customer" value="Enregistrer" tabindex="7">#}
        {#<a href="{{ path('clients_new') }}" >  <button type="button" value="Enregistrer puis ajouter un nouveau client" name="add-customer-another" class="btn btn-large btn-success" id="add-customer-another" tabindex="6">Enregistrer puis ajouter un nouveau client</button>#}
        {#</a>#}
    {#</div>#}
{#</div>#}
{{ form_end(form) }}