{% extends 'layout_base.html.twig' %}

{% block titre_page %} NOUVEL APPROVISIONNEMENT {% endblock %}
{% block sous_titre_page %} produits/fournisseur {% endblock %}
{% block nouveau %}<a href="{{ path('details_appro_new') }}">Nouveau</a>{% endblock %}

 {% block contenuprincipal %}
    {{ include('details_appro/_form.html.twig') }}

    <a href="{{ path('details_appro_index') }}">back to list</a>
{% endblock %}
{% block javascript %}
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script>

    jQuery(document).ready(function() {
        $("body").delegate("#addItem", "click", addItem)
         $('.appro_id').select2();

    });


function addItem (e){

    var $detalles = $("#approvisionement_detailsAppros");
    var $test  = $("#approvisionement_detailsAppros").find('table').find('tbody');
    // var $detalles = $("#scom_bundle_ventes_type_vente").closest('tbody');

    var sel = $("#approvisionement_detailsAppros").find('select').find('option').remove()


    var $index = $detalles.children().length;
    var $index2 = $test.children().length;
    // var $detalle = $detalles.attr("data-prototype").replace(/__name__/g, $index).replace(/__num__/g, $index);
    var $detalle = $detalles.attr("data-prototype").replace(/__name__/g, $index2).replace(/__num__/g, $index2);
    //  var $test  = $("#scom_bundle_ventes_type_vente").find('table').find('tbody');
    //  alert('$test')
    // $detalles.append( $detalle);
    $test.append( $detalle)
};

function remplissage_fournisseur(e, elem){
    e.preventDefault();
    var tel = $('#approvisionement_fournisseur_TelephoneFournisseur').val();
  //  var parent = $(elem).closest('tr');
   //  alert(tel);
   // if(tel.length > 3){
        $.ajax({
            type: 'get',
            url: Routing.generate('fournisseur_recherche_ajax', {telephone: tel}),
            dataType: "json",
            // data: {
            //     term: request.term
            // },
            success: function (data) {
                $('.fournisseur_nom').val(data.Nom);
                $('.fournisseur_prenom').val(data.Prenom);
                $('#fournisseurs_prix_SituationGeographique').val(data.zone);

            }
        })
   // }

}

$("document").ready(function() {
    var $produis;
    $("#approvisionement_fournisseur_TelephoneFournisseur").blur(function() {
      // if ($(this).val().length === 5) {
            $.ajax({
                type: 'get',
                //url: 'http://localhost/Symfony/sf_ecommerce/web/app_dev.php/villes/' + $(this).val(),
                url: Routing.generate('fournisseur_produits_recherche_ajax', {telephone:$(this).val()}),
                beforeSend: function() {
                    if ($(".loading").length == 0) {
                        $("#approvisionement_detailsAppros_0_Produit").parent().append('<div class="loading"></div>');
                    }
                     $("#approvisionement_detailsAppros_0_Produit option").remove()
                },
                success: function(data) {
                    $produis = data
                    $.each(data, function(index, value) {
                      $("#approvisionement_detailsAppros_0_Produit").append($('<option>',{value:value.produit_id, text: value.libelle}));
                    })

                    $(".loading").remove();
                }
            }
            );
       // }
        // else {
        //     $(".ville").val('');
        // }
    alert(data)
    });
});
</script>
{% endblock %}